.box{
    margin: 10px;
    width: 550px;
    height: 600px;
    
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
h3{
    font-size: 20px;
}

button{
    width: 30px;
    height: 30px;
    border: 2px solid black;
    margin: 6px;
    border-radius: 5px;
    padding: 5px;
    color: black;
}
.back-btn, .reset-btn{
    font-size: large;
    margin: 50px;
    width: auto;
    height: auto;
    padding: 5px;
    background-color:#1C4980;
    border: none;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.flax-box{
    padding: 10px;
}

.booked{
    font-size: 12px;
   padding: 5px;
   display: inline-block;
   border: 2px solid gray;
   color: white;
   background-color: gray;
   border-radius: 5px;
   margin: 5px;
}
.just-booked{
    font-size: 12px;
   padding: 5px;
   display: inline-block;
   border: 2px solid green;
   color: white;
   background-color: green;
   border-radius: 5px;
   margin: 5px;

}
.empty{
    font-size: 12px;
   padding: 5px;
   display: inline-block;
   border: 2px solid black;
   margin: 5px;
   background-color: white;
   border-radius: 5px;
    
}

.sheats-btn{
    border: none;
    width: 40px;
    height: 35px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
body{
   
}